<div id="box">
  <nav id="leftBox">
    <ul>
    <% @dashboards.each do |dashboard| %>
      <li>
        <%= link_to dashboard.name, dashboard %>
      </li>
    <% end %>
    </ul>
  </nav>
  <div id="main">
    <ul>
      <li><%= link_to 'New Dashboard', new_dashboard_path %></li>
      <li><%= link_to 'New Snipet', new_snipet_path %></li>
    </ul>
  </div>
</div>


